
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url(../assets/mtn3.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
  border: none;
  border-radius: 50px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 30px;
}

.text{
  color: #434445;
  font-size: 60px;
  padding-top: 30px;
  text-decoration: bold;

}

.underline{
  width: 250px;
  height: 6px;
  background:  #434445;
  border-radius: 9px;
}

.inputs{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 80px;
  background: rgba(130, 206, 224, 0.2) ;
  border-radius: 30px;
  
}

.input img{
  height: 50px;
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color:  #434445;
  font-size: 30px;
}

.submitContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit{
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 60px;
margin: 10px;
color: #434445;
background:  rgba(43, 209, 247, 0.4);
border: none;
border-radius: 50px;
font-size: 25px;
font-weight: 700;
cursor: pointer;
transition: transform 0.1s ease;
}

.submit:active {
transform: scale(.8);
}
.submit:hover {
background: #0ea7bb;
color: #FFFFFF;
}

.error {
color: red;
font-size: 20px;
margin-top: 10px;
text-align: center;
}


.greeting {
padding:50px;
font-size:50px;
font-weight: bold;
text-align: center;
margin-bottom: 100px;  
}

.greeting h6{
  padding:20px;
}

.button-row {
  display: flex;
  justify-content: center; 
  gap: 40px; 
  margin-top: 20px;
}

.home-button {
  display: flex;
  align-items: center; 
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: rgba(43, 209, 247, 0.4); 
  color: #434445;
  border: none;
  border-radius: 25px;
  text-decoration: none;
}

.home-button:hover {
  background-color: #010202;
  color: white;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color:olive;
  text-decoration:none;
}

.signUpContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px
}

.signUpContainer h3{
    color: #434445;
    font-size: 20px;
    text-decoration: bold;
}